.track-info {
	margin-left: 25;
}

.track-image {
	height: 100;
	width: 100;
	margin-left: 20;
}

.track-name {
	font-size: 18;
}

.list {
	background-color: #ffffff;
	color: #000000;
}

.cover {
	height: 50;
	width: 50;
	margin: 10 0;
}

.title {
	margin-left: 25;
	vertical-align: center;
	font-size: 18;
}
